<ion-content>
    <div class="splash">
        <div class="bar bar-header">
          <button ng-click="backTo()" class="button button-icon icon ion-android-arrow-back"></button>
        </div>
        <header class="header">
            <h1 class="header__title"><span>How about finding</span> people who understand you.</h1>
        </header>
        <div class="row footer-buttons">
            <div class="col text-box">
                <button ng-click="connectFB()" class="button button-positive button-large" style="margin-bottom:90px;"><img src="img/facebook-icon.jpg" style="width: 18px; height: 18px"> Connect with Facebook</button>
                <a href="#/location-prompt"></a>
            </div>
        </div>
        <a href="#/location-prompt" class="location-maps-button button button-full button-balanced">
            <div class="title">I’d rather not</div>
        </a>
        <div class="loading-container loading-container--transparent" ng-class="{'visible active': isLoading}">
          <div class="loading">
            <span class="loading-title">
              <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
              </svg>
            </span>
          </div>
        </div>
    </div>
</ion-content>
