<ion-content>
    <div class="splash">
        <header class="header">
            <h1 class="header__title"><span>How about finding</span> people that understand you.</h1>
        </header>
        <div class="row footer-buttons">
            <div class="col text-box">
                <img src="img/fbconnect.jpeg" style="width:100%; padding-bottom: 90px;">
                <a href="#/location-prompt"></a>
            </div>
        </div>
        <button ng-click="skipFB()" class="location-maps-button button button-full button-balanced">
            <div class="title">I’d rather not say</div>
        </button>

    </div>
</ion-content>
