<div class="bar bar-header">
  <a href="#/location-prompt" class="button button-icon icon ion-android-arrow-back" nav-direction="back"></a>
</div>

<ion-content class="padding">
  <header class="header">
  	<h2 class="header__title header__title--small" ng-bind-html="message"></h2>
  </header>

  <a href="#/match?isLoading=true">
    <img src="img/feeling-happy.png" class="feeling-icon">
  </a>

  <a href="#/match?isLoading=true">
    <img src="img/feeling-neutral.png" class="feeling-icon">
  </a>

  <a href="#/feeling-reply">
    <img src="img/feeling-sad.png" class="feeling-icon">
  </a>
</ion-content>
