
<div class="padding">
<h1>
  That's okay. Last question: How are you feeling today?
</h1>

<div class="row feeling-bar-middle">
  <div class="col">
    <a href="#/feeling-reply">
      <img src="img/feeling-happy.png" style="width:100%;">
    </a>
  </div>
  <div class="col">
    <a href="#/feeling-reply">
      <img src="img/feeling-neutral.png" style="width:100%;">
    </a>
  </div>
  <div class="col">
    <a href="#/feeling-reply">
      <img src="img/feeling-sad.png" style="width:100%;">
    </a>
  </div>
</div>

</div>
