<ion-content class="padding">

  <div class="card">
    <div class="item item-divider text-center">
      New Fighter Request
    </div>

    <div class="item item-text-wrap">
      <h1 class="text-center">{{fighter.name}}</h1>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-checkmark-circled"></i>
        Accept
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-close-circled"></i>
        Reject
      </a>
    </div>
  </div>
</ion-content>
