
<ion-content class="padding">

  <div class="card">
    <div class="item item-divider text-center">
      New Fighter Request
    </div>

    <div class="item item-text-wrap">
      <h1 class="text-center">{{fighter.name}}</h1>
    </div>

    <div class="item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" href="#">
        <i class="icon ion-checkmark-circled"></i>
        Accept
      </a>
      <a class="tab-item" href="#">
        <i class="icon ion-close-circled"></i>
        Reject
      </a>
    </div>
  </div>

  <div class="list card">

    <div class="item item-divider text-center">
      New Feedback
    </div>

    <div class="item item-body">
      Please provide some feedback about your fighter, Leoman Yandas.
    </div>

    <a class="item item-icon-left assertive" href="#">
      <i class="icon ion-compose"></i>
      Write Feedback
    </a>
  </div>

    <div class="list card">
      <div class="item item-image">
        <img src="img/inspiration1.jpg">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-share"></i>
        Share Love
      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">
        <h2>Meetup near you</h2>
      </div>


      <div class="item item-image">
        <img src="img/event1.jpg">
      </div>

      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-share"></i>
        Share Love
      </a>
</ion-content>
