<div class="padding">
    <header class="header">
        <h1 class="header__title"><span>Tell me</span> about you</h1>
    </header>
    <div class="row footer-buttons">
        <div class="col col-50 man-box text-box">
            <a href="#/location-prompt">
               <img src="img/man.png" style="width:50%;">
            </a>
        </div>
        <div class="col col-50 woman-box text-box" >
            <a href="#/location-prompt">
                <img src="img/woman.png" style="width:50%;">
            </a>
        </div>
    </div>
    <div class="row box-bottom">
    <div/>
</div>