<div>
    <div class="bar bar-header">
      <a href="#/role" class="button button-icon icon ion-android-arrow-back"></a>
    </div>

    <header class="header">
        <h1 class="header__title"><span>Hi {{user.name}}!</span>Tell me about you</h1>
    </header>
    <div class="row footer-buttons">
        <div class="col col-50 man-box text-box">
           <img src="img/man.png" style="width:30%;">
            <a class="text-box__url" href="#/cancer"></a>
        </div>
        <div class="col col-50 woman-box text-box">
            <img src="img/woman.png" style="width: 30%;">
            <a class="text-box__url" href="#/cancer"></a>
        </div>
    </div>
</div>
