<div class="bar bar-header">
  <a href="#/fighter" class="button button-icon icon ion-android-arrow-back"></a>
</div>

<ion-content>
  <header class="header">
    <h1 class="header__title">
      <span>We are almost done.</span> Where are you from?
    </h1>
  </header>

  <map class="location-maps"
    zoom="{{position.zoom}}"
    center="[{{position.lat}}, {{position.lng}}]"
    street-view-control="false"
    zoom-control="false">
  </map>
</ion-content>

<button ng-click="skipButtonClick()" ng-hide="hasDoneLocationFetch" class="location-maps-button button button-full button-balanced">
  <div class="title">I’d rather not say</div>
</button>

<button ng-click="nextButtonClick()" ng-show="hasDoneLocationFetch" class="location-maps-button button button-full button-balanced">
  <div class="title">Confirm my location</div>
</button>

<button ng-click="getLocation()" class="location-maps-my-location">Find me</button>

<div class="loading-container loading-container--transparent" ng-class="{'visible active': isLoading}">
  <div class="loading">
    <span class="loading-title">
      <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
        <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
      </svg>
    </span>
  </div>
</div>
