<div class="bar bar-header bar-stable">
	<h1 class="title">{{user.name}}, I found great matches for you, take a look:</h1>
</div>

<ion-content class="has-header padding">
	<ul class="match-entries">
		<li class="match-entries__item" ng-repeat="angel in filteredUsers | orderBy: '-similarity'" ng-hide="user.id === angel.id">
			<div class="match-entries__content">
				<h4 class="match-entries__name">{{angel.name}}</h4>
				<span class="match-entries__age">{{angel.birthday | age}} years old</span>
			</div>

			<span class="match-entries__similarity" ng-if="angel.similarity">
				{{angel.similarity * 100 | number: "0"}}% <span>match</span>
			</span>

			<a class="match-entries__url" ng-href="#/user/{{angel.id}}" nav-direction="forward"></a>
		</li>
	</ul>
</ion-content>

<div class="loading-container" ng-class="{'visible active': isLoading}">
	<div class="loading">
		<span class="loading-title"><svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
   <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
</svg></span>

		<span class="loading-progress">{{loadingProgress}}%</span>
	</div>
</div>
