<div class="bar bar-header bar-stable">
  <a class="button button-icon icon ion-ios-arrow-back" nav-direction="back" href="#/match"></a>
  <h1 class="title">{{user.name}}</h1>
</div>

<ion-content class="has-header has-footer">

	<map class="user-maps"
		zoom="11"
	  center="[{{user.location.lat}}, {{user.location.lng}}]"
    street-view-control="false"
    zoom-control="false"
    map-type-control="false"
	  draggable="false">
	</map>

  <div class="list">
    <a class="item item-icon-left" href="#">
      <i class="icon ion-person"></i>
      Age
      <span class="item-note">
        {{user.birthday | age}} years old
      </span>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-{{user.gender}}"></i>
      Gender
      <span class="item-note">
        {{user.gender}}
      </span>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-location"></i>
      State
      <span class="item-note">
        {{user.state}}
      </span>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-help-circled"></i>
      Cancer Type
      <span class="item-note">
        {{user.typeOfIssue}}
      </span>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-heart"></i>
      Treatment
      <span class="item-note">
        {{user.treatment}}
      </span>
    </a>

    <a class="item item-icon-left" href="#">
      <i class="icon ion-ios-body"></i>
      Number of Children
      <span class="item-note">
        {{user.numberOfChildren}}
      </span>
    </a>

  </div>
</ion-content>

<button ng-click="selectAngel()" class="bar bar-footer bar-balanced">
  <div class="title"><i class="icon ion-android-happy"></i> I found my angel!</div>
</button>
