@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular-webfont.eot');
  src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
       url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Thin-webfont.eot');
  src: url('../fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Roboto-Thin-webfont.woff') format('woff'),
       url('../fonts/Roboto-Thin-webfont.ttf') format('truetype'),
       url('../fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
  font-weight: 100;
  font-style: normal;
}

body {
	background-color: #eee;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Roboto', sans-serif;
}

/* Pseudo Material Design */

.material-form-group {
	display: block;
	padding-left: 30px;
	padding-right: 30px;
}

.material-form-group .material-form-input {
	width: 100%;
	background-color: transparent;
	display: inline-block;
	border: none;
	border-bottom: 1px solid #dbdbdb;
	outline: none;
	padding: 6px 0;
	margin: 0 auto;
}

.material-form-group .material-form-input:focus {
	border-bottom-color: #009688;
	box-shadow: 0 1px 0 #009688;
}

.pane, .view {
	background-color: #eee;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  height: 30vh;
  padding-left: 30px;
	padding-right: 30px;
}

.header__title {
	font-weight: 100;
	font-size: 30px;
	margin: 0;
}

.header__title span {
	display: block;
}

/* Loading */

.loading-container {
	background-color: #fff;
}

.loading-container .loading {
	background-color: transparent;
	color: #000;
	text-transform: uppercase;
}

.loading-container .loading .icon {
	display: block;
	font-size: 40px;
}

.loading-title {
	display: block;
	margin-top: 15px;
	margin-bottom: 20px;
}

.loading-progress {
	display: block;
	font-size: 40px;
}

/* Match Results */

.match-results__title {
	padding-left: 15px;
	padding-right: 15px;
}

/* Match List */

.match-entries {
}

.match-entries__item {
	position: relative;

	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;

	padding: 20px 15px;
	background:#FFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
  border-radius: 3px;
}

.match-entries__name {
	margin: 0;
}

.match-entries__similarity {
	font-size: 30px;
	text-align: center;
}

.match-entries__similarity span {
	display: block;
	font-size: 14px;
	line-height: 1;
}

.match-entries__content {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

.match-entries__url {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}

/* User */

.user-maps {
	display: block;
	width: 100%;
	height: 200px;
}

/* Feeling */

.feeling-bar-middle {
  margin-top: 40%;
}

/* Location */

.location-maps {
  display: block;
	width: 100%;
	height: 70vh;
}

.location-maps-my-location {
  position: absolute;
  bottom: 70px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: #448aff;
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  transition: box-shadow 150ms cubic-bezier(0,0,.2,1);
  cursor: pointer;
}

.location-maps-my-location:hover {
  box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}

.location-maps-button {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none!important;
  margin: 0!important;
}

.text-center {
  text-align: center;
}

.text-box{
    padding-top: 200px;
    text-align: center;

}
.fighter-box{
    background-color: #ff9800;
}
.man-box{
    background-color: #2196f3;
}
.woman-box{
    background-color: #e91e63;
}
.angel-box{
    background-color: #ffb300;
}
.footer-buttons{
    height: 100%;
}
.footer-buttons a{
text-decoration: none;
}
.gm-style-cc {
  display: none;
}

.feeling-icon {
  max-width:40%;
  padding: 10px;
  margin:0px auto;
  display: block;
}

.item-divider {
  background: #FFF;
}
